---
layout: page
title: Sean Chester - Contact
description: >
  Details about contacting Sean Chester and how to reach the main NTNU campus 
  (Gloeshaugen) from the nearest airport in Vaernes.
heading: Contact
nav-title: Contact
permalink: /contact/
published: false
order: 5
---


    <div class="contact-col-wrapper">
      <div class="contact-col contact-col-1">
        <ul class="contact-list">
          <li>Sean Chester</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="contact-col contact-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="contact-col contact-col-3">
        <p>
        I generally share source code, our group often has 
        <a href="https://www.jobbnorge.no/ledige-stillinger/ntnu-norges-teknisk-naturvitenskapelige-universitet/utdanning-undervisning-forskning?searchString=n%C3%B8rv%C3%A5g">vacancies</a> 
        for graduate students, 
        we encourage visitors, and I am happy to answer research-related questions. 
        If I am not travelling, then I am available on short notice, but by appointment 
        only (via email).
        </p>
      </div>
    </div>
    
    <div class="direction-box">
		    <div class="map" >
  		  	<iframe width="600" height="420" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://use.mazemap.com/embed.html?v&#x3D;1&amp;campuses&#x3D;ntnu&amp;left&#x3D;10.4002&amp;right&#x3D;10.4043&amp;top&#x3D;63.4176&amp;bottom&#x3D;63.4165&amp;campusid&#x3D;1&amp;zlevel&#x3D;2&amp;sharepoitype&#x3D;poi&amp;sharepoi&#x3D;3509&amp;utm_medium&#x3D;iframe" style="border: 1px solid grey"></iframe><br/><small><a href="http://www.mazemap.com/">Map by MazeMap</a></small>
  		  </div>
  	  <div class="directions">
  	  	<p>
  	  	You can find our research group in <span style="font-style:italic; ">IT-bygget</span> on the 
  	  	Gl&oslash;shaugen campus (main campus) of NTNU in Trondheim, Norway. 
  	  	I am in room 207. 
  	  	<p>
  	  	<span style="font-weight:bold; ">From airport V&aelig;rnes</span>: 
  	  	Immediately outside arrivals, catch the blue &ldquo;Flybussen&rdquo; express coach 
  	  	(with views of the fjord) to the &ldquo;Studentersamfunnet&rdquo; stop. The coach 
  	  	will depart every fifteen minutes and arrive after about forty minutes. 
  	  	&ldquo;Studentersamfunnet&rdquo; is a large, red, round building at the bottom of the 
  	  	main hill to campus. Walk up &ldquo;H&oslash;gskoleveien&rdquo; alongside the south of 
  	  	&ldquo;Studentersamfunnet&rdquo; to reach the main library at the primary entrance 
  	  	to campus. Continue straight on to reach IT-Bygget in the back of the campus
  	  	(about five minutes farther).
  	  </div>
  	</div>