---
layout: default
title: Home
order: 1
---

<div class="home">

	<div id="name-box" >
		<h1 style="padding-bottom:0em; margin-bottom:0em; ">Sean Chester</h1>
		<h3 style="padding:0em; margin:0em; font-style:italic; ">Assistant Professor</h2 >
    <h3 style="padding:0em; margin:0em; ">University of Victoria, Canada</h2 >
    <div>
      <ul class="contact-list" style="margin:0; padding:0;">
        <li class="inline-social">
          {% include icon-email.html email=site.email %}
        </li>
        {% if site.github_username %}
        <li class="inline-social" style="margin-left:2em; margin-right:2em; ">
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}
        {% if site.twitter_username %}
        <li class="inline-social">
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
      </ul>
    </div>
	</div>
	 
  <div id="info-box" >
  
  	<img id="me" src="/assets/images/sean_chester_in_hamborg_small.jpg" />
  	<div id="research-focus" >
  	<h4>Research Focus</h4>
  	<span style="font-style:italic; ">
  		<ul>
  			<li> databases and data management </li> 
  			<ul>
	  			<li> algorithm design and analysis </li> 
  				<li> multicore and GPU algorithms </li>
  			</ul>
  	</span>
  	</div>
  </div>

</div>
