---
layout: page
title: Sean Chester - Publications
nav-title: Publications
heading: Selected Publications
description: > 
  A curated list of publications by Sean Chester, emphasising the dozen or so that have 
  had or are likely to have the greatest impact on the research field.
permalink: /publications/
order: 3
seo:
  links: ["http://dblp.uni-trier.de/pers/hd/c/Chester:Sean",
  "https://scholar.google.no/citations?user=ZxNF5OYAAAAJ",
  "http://orcid.org/0000-0002-1065-605X"]
---

<table>

	<tbody>
	
		<tr>
			<th style="vertical-align:top; padding-right:3em; " > 2022 </th>
			<td style="padding-bottom:1em; ">
M Gray, S Chester, H Jabbari.
&ldquo;KnotAli: informed energy minimization through the use of evolutionary information.&rdquo;
<span style="font-weight:bold">BMC Bioinform.</span>: 28 pages.
<a style="padding-left:0.5em; " href="https://bmcbioinformatics.biomedcentral.com/counter/pdf/10.1186/s12859-022-04673-3.pdf"><i class="far fa-file-pdf"></i>
</a>
<a />
			</td>
		</tr>
	
		<tr>
			<th style="vertical-align:top; padding-right:3em; " > 2021 </th>
			<td style="padding-bottom:1em; ">
TL Dam, S Chester, K Nørvåg, QH Duong.
&ldquo;Efficient top-k recently-frequent term querying over spatio-temporal textual streams.&rdquo;
<span style="font-weight:bold">Inf. Syst.</span>: 14 pages.
<a style="padding-left:0.5em; " href="https://doi.org/10.1016/j.is.2020.101687"><i class="far fa-file-pdf"></i>
</a>
<a />
			</td>
		</tr>
	
		<tr>
			<th style="vertical-align:top; padding-right:3em; " > 2020 </th>
			<td style="padding-bottom:1em; ">
S Maropaki, S Chester, C Doulkeridis, K Nørvåg.
&ldquo;Diversifying Top-k Point-of-Interest Queries via Collective Social Reach.&rdquo;
<span style="font-weight:bold">CIKM</span>: 4 pages.
<a style="padding-left:0.5em; " href="/assets/preprints/cikm-maropaki-2020.pdf"><i class="far fa-file-pdf"></i>
</a>
<!--a style="padding-left:0.5em; " href="https://github.com/mexuaz/node2mat"><i class="fab fa-github"></i>
</a-->
			</td>
		</tr>
		<tr>
			<th style="vertical-align:top; padding-right:3em; " > </th>
			<td style="padding-bottom:1em; ">
A Mehrafsa, S Chester, A Thomo.
&ldquo;Vectorising k-Core Decomposition for GPU Acceleration.&rdquo;
<span style="font-weight:bold">SSDBM</span>: 4 pages.
<a style="padding-left:0.5em; " href="/assets/preprints/ssdbm-mehrafsa-2020.pdf"><i class="far fa-file-pdf"></i>
</a>
<a style="padding-left:0.5em; " href="https://github.com/mexuaz/node2mat"><i class="fab fa-github"></i>
</a>
			</td>
		</tr>
	
		<tr>
			<th style="vertical-align:top; padding-right:3em; " > 2019 </th>
			<td style="padding-bottom:1em; ">
Y Santoso, S Venkatesh, A Thomo, S Chester.
&ldquo;Triad Enumeration at Trillion-Scale using a Single Commodity Machine.&rdquo;
<span style="font-weight:bold">EDBT</span>: 718-721.
<a style="padding-left:0.5em; " href="/assets/preprints/triads-santoso-edbt19.pdf"><i class="far fa-file-pdf"></i>
</a>
<a style="padding-left:0.5em; " href="https://github.com/ySant/triads"><i class="fab fa-github"></i>
</a>
			</td>
		</tr>

		<tr>
			<th style="vertical-align:top; padding-right:3em; " > 2018 </th>
			<td style="padding-bottom:1em; ">
D &#352;idlauskas, S Chester, ET Zacharatou, A Ailamaki.
&ldquo;Improving Spatial Data Processing by Clipping Minimum Bounding Boxes.&rdquo;
<span style="font-weight:bold">ICDE</span>: 425-436.
<a style="padding-left:0.5em; " href="/assets/preprints/icde-sidlauskas-2018.pdf"><i class="far fa-file-pdf"></i>
</a>
			</td>
		</tr>
		
		<tr>
			<th style="vertical-align:top; padding-right:3em; " > 2017 </th>
			<td style="padding-bottom:1em; ">
KS B&oslash;gh, S Chester, D &#352;idlauskas, I Assent.
&ldquo;Template Skycube Algorithms for Heterogeneous Parallelism on Multicore and GPU Architectures.&rdquo;
<span style="font-weight:bold">SIGMOD</span>: 447-462.
<a style="padding-left:0.5em; " href="/assets/preprints/sigmod_boegh_2017.pdf"><i class="far fa-file-pdf"></i>
</a>
<a style="padding-left:0.5em; " href="https://github.com/sean-chester/skycube-templates"><i class="fab fa-github"></i>
</a>
			</td>
		</tr>
	
		<tr>
			<th style="vertical-align:top; padding-right:3em; " > 2016 </th>
			<td style="padding-bottom:1em; ">
KS B&oslash;gh, S Chester, I Assent.
&ldquo;SkyAlign: A Portable, Work-Efficient Skyline Algorithm for Multicore and GPU Architectures.&rdquo;
<span style="font-weight:bold">VLDB J</span>: 25(6): 817-841.
<a style="padding-left:0.5em; " href="/assets/preprints/vldbj_boegh_2016.pdf"><i class="far fa-file-pdf"></i>
</a>
			</td>
		</tr>
	
		<tr>
			<th />
			<td style="padding-bottom:1em; ">
C Chen, S Chester, S Venkatesh, K Wu, A Thomo. 
&ldquo;Group-Aware Weighted Bipartite B-Matching.&rdquo;
<span style="font-weight:bold">CIKM</span>: 459-468.
<a style="padding-left:0.5em; " href="/assets/preprints/cikm_chen_2016.pdf"><i class="far fa-file-pdf"></i>
</a>
			</td>
		</tr>
	
		<tr>
			<th />
			<td style="padding-bottom:1em; ">
L Derczynski and S Chester. 
&ldquo;Generalised Brown Clustering and Roll-Up Feature Generation.&rdquo;
<span style="font-weight:bold">AAAI</span>: 1533-1539.
<a style="padding-left:0.5em; " href="/assets/preprints/generalised-brown.pdf"><i class="far fa-file-pdf"></i>
</a>
<a style="padding-left:0.5em; " href="https://github.com/sean-chester/generalised-brown"><i class="fab fa-github"></i>
</a>
			</td>
		</tr>

		<tr>
			<th style="vertical-align:top; padding-right:3em; " > 2015 </th>
			<td style="padding-bottom:1em; ">
KS B&oslash;gh, S Chester, I Assent. 
&ldquo;Work-Efficient Parallel Skyline Computation for the GPU.&rdquo; 
<span style="font-weight:bold">PVLDB</span> 8(9): 962-973.
<a style="padding-left:0.5em; " href="http://www.vldb.org/pvldb/vol8/p962-boegh.pdf"><i class="far fa-file-pdf"></i>
</a>
<a style="padding-left:0.5em; " href="http://users-cs.au.dk/u071354/public_code/skyAlign.zip"><i class="far fa-file-code"></i>
</a>
			</td>
		</tr>
		
		<tr>
			<th />
			<td style="padding-bottom:1em; ">
S Chester, D &#352;idlauskas, I Assent, KS B&oslash;gh. 
&ldquo;Scalable parallelization of skyline computation for multi-core processors.&rdquo; 
<span style="font-weight:bold">ICDE</span>: 1083-1094.
<a style="padding-left:0.5em; " href="/assets/preprints/chester_icde2015_mcsky.pdf"><i class="far fa-file-pdf"></i>
</a>
<a style="padding-left:0.5em; " href="https://github.com/sean-chester/SkyBench"><i class="fab fa-github"></i>
</a>
			</td>
		</tr>
		
		<tr>
			<th />
			<td style="padding-bottom:1em; ">
ML Mortensen, S Chester, I Assent, M Magnani. 
&ldquo;Efficient caching for constrained skyline queries.&rdquo; 
<span style="font-weight:bold">EDBT</span>: 337-348.
<a style="padding-left:0.5em; " href="https://openproceedings.org/2015/conf/edbt/paper-26.pdf"><i class="far fa-file-pdf"></i>
</a>
			</td>
		</tr>
		
		<tr>
			<th />
			<td style="padding-bottom:1em; ">
S Chester and I Assent. 
&ldquo;Explanations for Skyline Query Results.&rdquo; 
<span style="font-weight:bold">EDBT</span>: 349-360.
<a style="padding-left:0.5em; " href="https://openproceedings.org/2015/conf/edbt/paper-192.pdf"><i class="far fa-file-pdf"></i>
</a>
			</td>
		</tr>
		
		<tr>
			<th style="vertical-align:top; padding-right:3em; " > 2014 </th>
			<td style="padding-bottom:1em; ">
S Chester, A Thomo, S Venkatesh, S Whitesides. 
&ldquo;Computing k-Regret Minimizing Sets.&rdquo; 
<span style="font-weight:bold">PVLDB</span> 7(5): 389-400.
<a style="padding-left:0.5em; " href="http://www.vldb.org/pvldb/vol7/p389-chester.pdf"><i class="far fa-file-pdf"></i>
</a>
			</td>
		</tr>

		<tr>
			<th />
			<td style="padding-bottom:1em; ">
KS B&oslash;gh, S Chester,  D &#352;idlauskas, I Assent. 
&ldquo;Hashcube: A Data Structure for Space- and Query-Efficient Skycube Compression.&rdquo; 
<span style="font-weight:bold">CIKM</span>: 1767-1770.
<a style="padding-left:0.5em; " href="/assets/preprints/cikm_boegh_2014.pdf"><i class="far fa-file-pdf"></i>
</a>
<a style="padding-left:0.5em; " href="http://users-cs.au.dk/u071354/public_code/Hashcube.zip"><i class="far fa-file-code"></i>
</a>
			</td>
		</tr>
		
		<tr>
			<th style="vertical-align:top; padding-right:3em; " > 2013 </th>
			<td style="padding-bottom:1em; ">
S Chester, BM Kapron, G Ramesh, G Srivastava, A Thomo, S Venkatesh. 
&ldquo;Why Waldo befriended the dummy? k-Anonymization of social networks with pseudo-nodes</span>.&rdquo; 
<span style="font-weight:bold">Social Netw. Analys. Mining</span> 3(3): 381-399.
<a style="padding-left:0.5em; " href="/assets/preprints/snam13_waldo.pdf"><i class="far fa-file-pdf"></i>
</a>
<a style="padding-left:0.5em; " href="https://github.com/sean-chester/graphAnon"><i class="fab fa-github"></i>
</a>
			</td>
		</tr>

		<tr>
			<th />
			<td style="padding-bottom:1em; ">
S Chester, BM Kapron, G Srivastava, S Venkatesh. 
&ldquo;Complexity of social network anonymization</span>.&rdquo; 
<span style="font-weight:bold">Social Netw. Analys. Mining</span> 3(2): 151-166.
<a style="padding-left:0.5em; " href="/assets/preprints/snam13_complexity.pdf"><i class="far fa-file-pdf"></i>
</a>
			</td>
		</tr>
		
	</tbody>
	
</table>


<p style="text-align:center; font-style:italic; padding-top:2em; ">
Complete lists available at:
</p>
<ul style="text-align:center; ">
	<li style="marker:none; display:inline-block; padding-right:2em; margin-left:0em; "><a href="http://dblp.uni-trier.de/pers/hd/c/Chester:Sean">DBLP</a></li>
	<li style="marker:none; display:inline-block; padding-right:2em; ">{% include icon-google-scholar.html username=site.scholar_username %}</li>
	<li style="marker:none; display:inline-block; padding-right:2em; ">{% include icon-orcid.html username=site.orcid_username %}</li>
</ul>




