---
layout: page
title: Sean Chester - Publications
nav-title: Publications
heading: Selected Publications
permalink: /pubs/
order: 3
---

<table>

	<tbody>
	
		<tr>
			<th style="vertical-align:top; padding-right:3em; " > 2016 </th>
			<td style="padding-bottom:1em; ">
L Derczynsi and S Chester. 
<span style="font-style:italic">Generalised Brown Clustering and Roll-Up Feature Generation</span>. 
<span style="font-weight:bold">AAAI</span>: 1533-1539.
<a style="padding-left:0.5em; " href="http://www.derczynski.com/sheffield/papers/generalised-brown.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
</a>
<a style="padding-left:0.5em; " href="https://github.com/sean-chester/generalised-brown"><i class="fa fa-github" aria-hidden="true"></i>
</a>
			</td>
		</tr>

		<tr>
			<th />
			<td style="padding-bottom:1em; ">
S Chester, O Gkorgkas, Kjetil N&oslash;rv&aring;g. 
<span style="font-style:italic">Top-k Dominating Queries, in Parallel, in Memory</span>. 
<span style="font-weight:bold">EDBT</span>: 698-699.
<a style="padding-left:0.5em; " href="http://www.idi.ntnu.no/~noervaag/norvag/norvag/papers/EDBT2016.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
</a>
			</td>
		</tr>

		<tr>
			<th />
			<td style="padding-bottom:1em; ">
M S&oslash;holm, S Chester, I Assent. 
<span style="font-style:italic">Maximum Coverage Representative Skyline</span>. 
<span style="font-weight:bold">EDBT</span>: 702-703.
<a style="padding-left:0.5em; " href="https://openproceedings.org/2016/conf/edbt/paper-335.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
</a>
			</td>
		</tr>

		<tr>
			<th style="vertical-align:top; padding-right:3em; " > 2015 </th>
			<td style="padding-bottom:1em; ">
KS B&oslash;gh, S Chester, I Assent. 
<span style="font-style:italic">Work-Efficient Parallel Skyline Computation for the GPU</span>. 
<span style="font-weight:bold">PVLDB</span> 8(9): 962-973.
<a style="padding-left:0.5em; " href="http://www.vldb.org/pvldb/vol8/p962-boegh.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
</a>
<a style="padding-left:0.5em; " href="http://users-cs.au.dk/u071354/public_code/skyAlign.zip"><i class="fa fa-file-code-o" aria-hidden="true"></i>
</a>
			</td>
		</tr>
		
		<tr>
			<th />
			<td style="padding-bottom:1em; ">
ML Mortensen, S Chester, I Assent, M Magnani. 
<span style="font-style:italic">Efficient caching for constrained skyline queries</span>. 
<span style="font-weight:bold">EDBT</span>: 337-348.
<a style="padding-left:0.5em; " href="https://openproceedings.org/2015/conf/edbt/paper-26.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
</a>
			</td>
		</tr>
		
		<tr>
			<th />
			<td style="padding-bottom:1em; ">
S Chester and I Assent. 
<span style="font-style:italic">Explanations for Skyline Query Results</span>. 
<span style="font-weight:bold">EDBT</span>: 349-360.
<a style="padding-left:0.5em; " href="https://openproceedings.org/2015/conf/edbt/paper-192.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
</a>
			</td>
		</tr>
		
		<tr>
			<th />
			<td style="padding-bottom:1em; ">
S Chester, D &#352;idlauskas, I Assent, KS B&oslash;gh. 
<span style="font-style:italic">Scalable parallelization of skyline computation for multi-core processors</span>. 
<span style="font-weight:bold">ICDE</span>: 1083-1094.
<a style="padding-left:0.5em; " href="http://cs.au.dk/~schester/publications/chester_icde2015_mcsky.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
</a>
<a style="padding-left:0.5em; " href="https://github.com/sean-chester/SkyBench"><i class="fa fa-github" aria-hidden="true"></i>
</a>
			</td>
		</tr>

		<tr>
			<th style="vertical-align:top; padding-right:3em; " > 2014 </th>
			<td style="padding-bottom:1em; ">
KS B&oslash;gh, S Chester,  D &#352;idlauskas, I Assent. 
<span style="font-style:italic">Hashcube: A Data Structure for Space- and Query-Efficient Skycube Compression</span>. 
<span style="font-weight:bold">CIKM</span>: 1767-1770.
<a style="padding-left:0.5em; " href="http://cs.au.dk/~schester/publications/cikm_boegh_2014.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
</a>
<a style="padding-left:0.5em; " href="http://users-cs.au.dk/u071354/public_code/Hashcube.zip"><i class="fa fa-file-code-o" aria-hidden="true"></i>
</a>
			</td>
		</tr>
		
		<tr>
			<th />
			<td style="padding-bottom:1em; ">
S Chester, A Thomo, S Venkatesh, S Whitesides. 
<span style="font-style:italic">Computing k-Regret Minimizing Sets</span>. 
<span style="font-weight:bold">PVLDB</span> 7(5): 389-400.
<a style="padding-left:0.5em; " href="http://www.vldb.org/pvldb/vol7/p389-chester.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
</a>
			</td>
		</tr>
		
	</tbody>
	
</table>


<p style="text-align:center; font-style:italic; padding-top:2em; ">
Complete lists available at:
</p>
<ul style="text-align:center; ">
	<li style="marker:none; display:inline-block; padding-right:2em; "><a href="http://dblp.uni-trier.de/pers/hd/c/Chester:Sean">DBLP</a></li>
	<li style="marker:none; display:inline-block; padding-right:2em; ">{% include icon-google-scholar.html username=site.scholar_username %}</li>
	<li style="marker:none; display:inline-block; ">{% include icon-orcid.html username=site.orcid_username %}</li>
</ul>




